API_VERSION=1.0.0
APP_NAME=template
OPENAI_API_KEY=your_openai_api_key
TWITTER_BEARER_TOKEN=your_twitter_bearer_token
DEBUG_MODE=true

TEMPLATE_MCP_SERVER_URL=http://template:9001/sse
TOOL_1_MCP_SERVER_URL=http://tool-1:9011/sse
TOOL_2_MCP_SERVER_URL=http://tool-2:9021/sse
