API_VERSION=v1
APP_NAME="CRM Oxii Chatbot"
APP_DESC="An AI-powered chatbot for CRM tasks powered by OpenAI"
APP_PORT=8000
OPENAI_API_KEY=your-openai-api-key
MODEL_NAME=gpt-4

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
TTL_SECONDS=3600

### Account and API keys for external services
USER_PHONE=your-phone-number
USER_PASSWORD=your-password
USER_COUNTRY=VI

### Planning API settings
PLANNING_API_URL=your-planning-api-url
PLANNING_API_KEY=your-planning-api-key

BASE_URL=base-url-of-oxii-api

OXII_MCP_SERVER_URL=http://host.docker.internal:9031/sse

DEBUG_MODE=true
